<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 推荐的 ws 发布方式 -->
	<!-- 这里 Implementot 使用的 #helloServiceImpl 是cxf 的规范意思是使用spring 的id 来进行选择，这里错误有点 -->
	<jaxws:endpoint id="helloService" implementor="#helloServiceImpl"
		address="/soap/hello" />
</beans>