<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:simple="http://cxf.apache.org/simple"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd">
	
	<!-- 对应的Simple Server publish 和 Simple Client -->
	<simple:server id="helloService" address="/soap/hello">
		<simple:serviceBean>
			<ref bean="helloServiceImpl"/>
		</simple:serviceBean>
	</simple:server>

</beans>